#calendrier{
	text-align: center;
	overflow: hidden;
	width: 100%;
}

#player{
	margin-right: 45px
}

.gallery {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.gallery:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.gallery li {
    float: left;
    width: 33.3333%;
}
.gallery li a {
    border: 1px solid #3C3C3C;
    display: block;
    margin: 5px;
}
.gallery li img {
    display: block;
    height: auto;
    width: 100%;
}
#Gallery1 .ui-content, #Gallery2 .ui-content {
    overflow: hidden;
}


#oeuvre_content li{
	margin-top: 5px;
}

#artist_img{
	margin-top: 10px;
}
.rep{
	font-size: 15px;
	font-weight: normal;
	margin-left: 5px;
}
#artist_list{
	margin: 0;
	margin-top: 10px;
}

#artistInfo{
	padding-left: 10px;
}

.circle {
background-image:url('http://img.labnol.org/di/bo.jpg');
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

#agenda_titre{
display: inline-block;padding: 0  15px 0 15px;
}

#precedent{
display: inline-block;}

#suivant{
display: inline-block;}

#camera{
	margin-left: 15px;
	width:55px;
}

#img_oeuvre{
	margin-bottom: 20px;
}

.ui-block-b {
    width: 1%;
}


#action_photo{

	overflow: hidden;

}

#right{
	float: right;

}

#left{
    max-width: 65%;
}


.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 30px !important;
}
.nav-glyphish-example .ui-btn .ui-icon {
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
}
#picture .ui-icon {
    background: url(../assets/glyphish/121-landscape.png) no-repeat transparent;

}
#user .ui-icon {
    background: url(../assets/glyphish/111-user.png) no-repeat transparent;
}
#tag .ui-icon {
    background: url(../assets/glyphish/15-tags.png) no-repeat transparent;
}


#retour {
	border:0;
	text-shadow: none;
	background: none;
	background-image: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
	box-shadow: none;
	}
#retour .ui-btn-inner{
	border:0;
	text-shadow: none;	
	}

.ui-btn-corner-all {

	border-radius: 0px;

}


.nav{
	width:100px;
}

.centrer{
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	width: 100%;
}

.menu{	
	line-height: 100%;
	display: inline-block;
	/*border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	box-shadow: 0px 0px 0px #666666;
	-webkit-box-shadow: 0px 0px 0px #666666;
	-moz-box-shadow: 0px 0px 0px #666666;
	background: #EDEDED;
	border: solid 1px #CFCFCF;*/
	z-index:999;

}



.gauche{

margin-left: 70px;

}

.img-100{
   	display: block;
    margin: 0 auto;
    max-width: 100%;

}

.logo{

	background:#ccc; 
	height:150px;
	line-height:100px; /* centrage vertical */
	text-align:center; /* centrage horizontal */ 
	background-image: url(img/compas.png);
	background-repeat: no-repeat;
	padding: 0;	

}

.back{	

	width: 100%;
	max-width: 100%;
}
